.logo {
  width: 200px;
  height: 20px;
  margin: 20px;
  float: left;
}

.ant-menu.ant-menu-dark {
  font-size: 16px;
  position: relative;
  li:hover,
  .ant-menu-item:hover {
    background-color: $primary-color;
  }
}
