$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
$panel-color: #f8f8f8;
$bg-color: orange;

$primary-color: #1890ff;
$primary-light-color: #e5f7ff;

$black: #001529;
$white: #fff;

$default-padding: 24px;
