.page-header {
  border-bottom: none !important;
  h1 {
    height: 41px;
    background: url(../../shared/assets/index_oglasi_logo.svg) no-repeat top
      center;
    background-size: auto 41px;
    margin: 90px 0 20px 0;
  }
}

.categories-navbar {
  ul {
    width: 100%;
  }
  li {
    font-size: 18px;
    width: 20%;
    text-align: center;
  }
}
